@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#custom::placeholder {
  color: #547878;
  text-align: center;
  width: 100%;
}

#billAmount::placeholder,
#numOfPeople::placeholder {
  color: #9ebbbd;
}

button:disabled {
  background: #0d686d;
}
